@font-face {
  font-family: Pokemon-Hollow;
  src: url(Pokemon_Hollow.ttf);
}

body {
  background-image: url("pokeball-background.jpg");
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonImg {
  width: 250px;
  height: 250px;
}

.title {
  font-family: Pokemon-Hollow;
  display: flex;
  justify-content: center;
  color: black;
}

#game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#score-container {
  display: flex;
  margin: auto;
  flex-direction: column;
}

#score-number-container {
  display: flex;
  margin: auto;
}

#score-title {
  margin: auto;
}

#player-score-container {
  margin-right: 400px;
}

.button {
  cursor: pointer;
}

.score,
#score-title {
  font-size: 32px;
  color: black;
}

#name-title-container {
  display: flex;
}

#you-title {
  margin-right: 400px;
}

#player-score-container,
#rival-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  width: 96px;
  background-color: white;
  border: 2px solid black;
}

.btn-container {
  width: 275px;
  height: 275px;
  border: 2px solid white;
  margin: 8px;
}

#battle-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#rival-image {
  width: 300px;
  height: 300px;
}

.battle-slot {
  display: flex;
  align-items: center;
}

#battle-slot-container {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

#player-battle-slot {
  margin-left: 30%;
}

.pokeball-img {
  width: 100px;
  height: 100px;
}

#results-container {
  width: 800px;
  height: 75px;
  background-color: white;
  border: 2px solid black;
  margin-top: 24px;
}
